<p *ngIf="!emplList"><em>Loading...</em></p>

<style>
  .even  {   background-color: ghostwhite}
  .odd {   background-color:#f2f9ff; }
</style>

<div class="row" style="width:100%;padding-bottom:10px;">
  <div class="col col-md-8">
    <h1 style="color:blue;"><span color="black">List/</span>Employee</h1>
  </div>
  <div class="col col-md-4" style="padding-top:10px;">
    <div class="row">
      <div class="ui-inputgroup">
        <button pButton label="Add" [routerLink]="['/register-employee']" class="ui-button-raised ui-button-success"></button>
      </div>
      <div style="width:20px;"></div>
    </div>
  </div>
</div>

<table class='table' *ngIf="emplList">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Role</th>
            <th>Department</th>
            <th>Skill Sets</th>
            <th>Date of Birth</th>
            <th>Date of Joining</th>
            <th>Is Active</th>

			<th style="text-align:center">Edit/Delete</th>
		</tr>
    </thead>
    <tbody>
        <tr *ngFor="let empl of emplList; odd as isOdd; even as isEven" [class.Odd]="isOdd" [class.even]="isEven">
            <td>{{ empl.name}}</td>
            <td>{{ empl.address}}</td>
            <td>{{ empl.role}}</td>
            <td>{{ empl.department}}</td>
            <td>{{ empl.skillSets}}</td>
            <td>{{ empl.date_of_Birth | date: 'MM/dd/yyyy' }}</td>
            <td>{{ empl.date_of_Joining | date: 'MM/dd/yyyy' }}</td>
            <td>{{ empl.isActive}}</td>

            <td style="text-align:center">
                <a [routerLink]="['/employee/edit/', empl.id]"><i class="pi pi-pencil" style="padding-top:10px;"></i></a>&nbsp;
                <a [routerLink]="" (click)="delete(empl.id)"><i class="pi pi-trash" style="padding-top:10px;color:red;"></i></a>
            </td>
        </tr>
		<tr *ngIf="!(emplList)">
      <td colspan="6">
      No data found...
      </td>
      </tr>
    </tbody>
</table>

